#banner
  .banner_content
    %h1 FileCab
    %p Cream Of The Crop Will Rise To The Top
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organ..
        %p ascot echo park scenester marfa next level kombucha quinoa skateboard JOMO unicorn. IPhone vibecession next level ennui jawn, organic irony seitan lumbersexual raw denim big mood ethical kombucha leggings. Brooklyn intelligentsia +1 slow-carb jawn neutra fanny pack lo-fi man bun retro offal. Hot chicken blog messenger bag, meh literally listicle lomo iceland fanny pack yes plz bitters jianbing roof party. Deep v squid farm-to-table, kogi semiotics ascot ramps paleo tumeric. Taiyaki ennui small batch, mlkshk waistcoat microdosing freegan.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path

